include helpers

doctype html
html
  head
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
    title See Artsy's 2014 Year in Review
    link( rel='stylesheet', href= assets('stylesheets/application.css') )
    link( rel='shortcut icon', href= assets('images/favicon.ico') )
    script( src= assets('javascripts/application.js') )
    script( src='//fast.fonts.net/jsapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.js' )
  body
    .grid: for col in [0, 0, 0, 0, 0]
      .grid-col

    include partials/header
    include partials/introduction
    include partials/marketplace
    include partials/education
    include partials/global
