<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>See Artsy's 2014 Year in Review</title>
    <link rel='stylesheet' href='{{assetPath "stylesheets/application.css"}}'>
    <script src='{{assetPath "javascripts/application.js"}}'></script>
    <script src='//fast.fonts.net/jsapi/f7f47a40-b25b-44ee-9f9c-cfdfc8bb2741.js'></script>
  </head>
  <body>
    {{> intro}}
  </body>
</html>
