- sections = locals.copy.sections
- introduction = sections.introduction

mixin pane(options)
  .pane
    block
    .pane--vcenter: .pane--vcenter-wrap
      .pane--headline
        != options.headline
      .pane--backdrop( style="background-image: url(#{assets(options.backdrop)})" )

#panes.panes
  //- Initial pane
  .pane
    .pane--vcenter: .pane--vcenter-wrap
      img.pane--logo( src= assets('images/artsy.svg'), alt='Artsy' )
      .pane--headline
        | Annual Review 2014
        br
        | Swipe to Continue
      .pane--backdrop( style="background-image: url(#{assets(introduction.images[0])})" )
      .pane--chevron &nbsp;

  //- Introduction panes
  for caption, i in introduction.captions
    +pane({ headline: caption, backdrop: introduction.images[i + 1] })
