- sections = locals.copy.mobile.sections

mixin pane(options)
  .pane
    block
    .pane--vcenter: .pane--vcenter-wrap
      .pane--headline
        != options.headline
      .pane--backdrop( style="background-image: url(#{assets(options.backdrop)})" )

#panes.panes
  //- Splash
  - pane = sections.splash.panes[0]
  .pane
    .pane--vcenter: .pane--vcenter-wrap
      img.pane--logo( src= assets('images/artsy.svg'), alt='Artsy' )
      .pane--headline!= pane.headline
      .pane--backdrop( style="background-image: url(#{assets(pane.backdrop)})" )
      .pane--chevron &nbsp;

  //- Introduction
  - panes = sections.introduction.panes
  for pane in panes
    +pane(pane)
