- splash = locals.copy.mobile.sections.splash

.pane
  +backdrop(splash.backdrop)

  .pane--body
    img.pane--logo( src= imagePath('artsy.svg'), alt='Artsy' )

    +credit(splash.credit)

    .pane--bottom
      | Annual Review 2014
      br
      | Swipe to Continue
      .pane--chevron &nbsp;
