.artwork-columns
  .artwork-column.column-1
    for i in [0, 0, 0, 0, 0, 0, 0]
      .artwork
  .artwork-column.column-2
    for i in [0, 0, 0, 0, 0, 0, 0]
      .artwork
  .artwork-column.column-3
    for i in [0, 0, 0, 0, 0, 0, 0]
      .artwork
  .artwork-column.column-4
    for i in [0, 0, 0, 0, 0, 0, 0]
      .artwork
