<div class='artwork-columns'>
  <div class='artwork-column column-1'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
  </div>

  <div class='artwork-column column-2'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
  </div>

  <div class='artwork-column column-3'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
  </div>

  <div class='artwork-column column-4'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
    <img src='http://placehold.it/350x450' class='artwork'>
  </div>
</div>
