.artwork-columns
  .artwork-column.column-1
    for i in [0, 0, 0, 0, 0, 0, 0]
      img.artwork( src='http://placehold.it/350x450' )
  .artwork-column.column-2
    for i in [0, 0, 0, 0, 0, 0, 0]
      img.artwork( src='http://placehold.it/350x450' )
  .artwork-column.column-3
    for i in [0, 0, 0, 0, 0, 0, 0]
      img.artwork( src='http://placehold.it/350x450' )
  .artwork-column.column-4
    for i in [0, 0, 0, 0, 0, 0, 0]
      img.artwork( src='http://placehold.it/350x450' )
