#frame-1.frame
  .frame--subheadline Annual Review
  .frame-2--backdrop
  .frame-1--backdrop
  .frame--text: span
    | We set out with a mission to make art as popular as music
  .intro-chevron &nbsp;

#frame-2.frame
  .frame--subheadline Annual Review
  .frame-2--backdrop
  .frame--text: span
    | To fulfill this mission we are building the largest public database of art for educational use&hellip;

#frame-3.frame
  .frame--subheadline Annual Review
  .frame--text: span
    | &hellip;and making it possible to find and collect artworks from galleries around the world—all in one place

#frame-4.frame
  .frame--subheadline Annual Review
  .frame--text: span
    | Here is how we did in 2014
