<div class='introduction'>
  <div class='frame'>
    <p>
      We set out with a mission to make art as popular as music
    </p>
  </div>

  <div class='frame'>
    <p>
      to fulfill this mission we are building the largest public database of art for educational use&hellip;
    </p>
  </div>

  <div class='frame'>
    <p>
      Here’s how we did in 2014
    </p>
  </div>
</div>