<div id='frame-5' class='frame marketplace-frame'>
  <div class='frame--subheadline'>
    A Growing Marketplace
  </div>

  <div class='frame--body'>
    <div class='frame--body-wrap'>
      <div class='frame--headline'>
        We made 10x the introductions between galleries and collectors from all over the world than 2013
      </div>
      <div class='frame--description'>
        In June, Artsy celebrated the 55th Venice Biennale with an in-depth look at 77 national pavilions and exhibitions, from Angola to Uruguay. We created a place to explore and learn about one of the art world’s most important events.
      </div>
    </div>
  </div>
</div>

<div id='frame-6' class='frame marketplace-frame'>
  {{> columns }}

  <div class='frame--subheadline'>
    A Growing Marketplace
  </div>

  <div class='frame--body'>
    <div class='frame--body-wrap'>
      <div class='frame--headline'>
        Our gallery partners added over 100,000 for-sale works in 2014
      </div>
      <div class='frame--description'>
        In June, Artsy celebrated the 55th Venice Biennale with an in-depth look at 77 national pavilions and exhibitions, from Angola to Uruguay. We created a place to explore and learn about one of the art world’s most important events.
      </div>
    </div>
  </div>
</div>
