#frame-5.frame.marketplace-frame
  .frame--subheadline A Growing Marketplace
  .frame--body
    .frame--body-wrap
      .frame--headline
        | We made 10x the introductions between galleries and collectors from all over the world than 2013
      .frame--description
        | In June, Artsy celebrated the 55th Venice Biennale with an in-depth look at 77 national pavilions and exhibitions, from Angola to Uruguay. We created a place to explore and learn about one of the art world’s most important events.

#frame-6.frame.marketplace-frame
  include columns
  .frame--subheadline A Growing Marketplace
  .frame--body
    .frame--body-wrap
      .frame--headline
        | Our gallery partners added over 100,000 for-sale works in 2014
      .frame--description
        | In June, Artsy celebrated the 55th Venice Biennale with an in-depth look at 77 national pavilions and exhibitions, from Angola to Uruguay. We created a place to explore and learn about one of the art world’s most important events.
