@import 'common'

.pane.is-captioned
  .pane--backdrop
    transform rotateX(10deg) translateY(25%)
  .info--pane
    opacity 1
    transform translateY(0)

.pane--backdrop-context
  occupy()
  perspective 500
  perspective-origin 50% 75%
  z-index -1

.pane--backdrop
  transition transform 0.5s
  transition-timing-function ios-timing-function
  backface-visibility hidden

.info
  position absolute
  top 0
  right 0
  left 0
  height 25%

.info--icon
  display block
  position absolute
  top unit
  left unit
  width (unit * 1.5)
  height (unit * 1.5)
  color white
  border 1px solid white
  border-radius 50%
  font-size 20px
  text-align center
  vertical-align middle
  line-height @height
  font-style italic
  font-weight bold

.info--pane
  position absolute
  top 0
  right 0
  left (unit * 2.5)
  color white
  font-size credit-size
  padding unit
  opacity 0
  transform translateY(-(unit))
  transition opacity 0.25s, transform 0.25s
