@import 'common'

dot-size = (unit / 4)

.progress
  position absolute
  right unit
  bottom (unit * 2)
  left unit
  height dot-size
  font-size 0
  line-height unit
  z-index z-progress
  text-align center
  transform translate3d(0, 0, 0)
  pointer-events none

.progress--dot
  display inline-block
  width dot-size
  height dot-size
  background-color white
  border-radius 50%
  margin 0 (unit / 8)
  opacity 0.5
  transition opacity 0.25s
  &.is-active
    opacity 1
