@import 'common'

body.is-mobile
  width 100%
  height 100%
  overflow hidden
  user-select none

#mobile
  overflow hidden
  height 100%

.panes
  height 100%
  white-space nowrap
  font-size 0
  vertical-align top
  transition-property transform
  transition-duration 0.5s
  transition-timing-function ios-timing-function
  transform translate3d(0, 0, 0)

.pane
  position relative
  display inline-block
  width 100%
  height 100%
  vertical-align top
  white-space normal
  padding 10%
  overflow hidden

.pane--backdrop
  occupy()
  z-index -1
  gradient-overlay(absolute, black, bottom)
  > img
    display block
    position absolute
    top 50%
    left 50%
    opacity 0
    transition opacity 0.5s
    &.is-ready
      opacity 1

.pane--body
  font-size (headline-size / 2)

.pane--links
  float left
  font-size (headline-size / 2)
  margin-top unit
  padding-top (unit / 2)
  border-top 2px solid white
  > a
    display block
    color white
    text-decoration none

.pane--logo
  display inline-block
  height (unit * 2)
  margin-bottom (unit * 2)

.pane--chevron
  position absolute
  width unit
  top 50%
  right @width
  height @width
  margin-top -(@width / 2)
  z-index 1
  border 2px solid white
  border-width 2px 2px 0 0
  transform rotate(45deg)
