@import 'common'

.single-image--context
  position absolute
  top (grid-offset / 2)
  right grid-offset
  bottom (grid-offset / 2)
  left grid-offset
.single-image
  width grid-span(3)
  translate-v-center()
  right 0
.single-image--image
  width 100%
.single-image--credit
  margin-top unit
  text-align left
  color darken(white, 50%)

.bisected-columns
  translate-v-center()
  width grid-span(3.5)
  right grid-offset
.bisected-columns--column
  float left
  width 50%
  position relative
  &:first-child
    text-align right
.bisected-columns--image
  width 100%
  margin (unit / 2) 0
  padding 0 (unit / 4)
  > img
    max-width 100%

.gradient-overlay
  gradient-overlay()

.categories
  position absolute
  width 50%
  top 0
  right 0
  bottom 0
.category
  block-margins(unit * 2)
.category-name
  margin-bottom (unit / 2)
  margin-left -(unit)
  avant-garde()
  font-size 13px
.category-images
  white-space nowrap
.category-image
  display inline-block
  height 200px
  inline-block-margins(unit / 4)
  > img
    max-height 100%
    max-width 100%

.artwork-columns
  translate-center()
  width 100%
  gradient-overlay()
.artwork-column
  float left
  width 25%
  text-align center
  &:last-child
    margin-right 0
.artwork
  display block
  margin unit (unit / 2)
  > img
    width 100%

.image-wall
  float right
  width grid-span(3)
  margin-right grid-offset
  font-size 0
.image-wall--image
  display inline-block
  width 50%
  > img
    max-width 100%
    max-height 100%

.video-wall
  float right
  width grid-span(3)
  margin-right grid-offset
  video
  img
    width 100%

#frame-bringing-together .frame--backdrop-credit
  text-align left
