.gradient-overlay: #categories.categories
  .frame--vertical-centering-context
    for category, i in frame.categories
      .category( id='category-#{i}' )
        .category-name
          = category.name
        .category-images
          for image in category.images
            .category-image
              img( data-src= imagePath(image, 'web/categories') )
