#columns.frame--layer: .artwork-columns
  for column, i in frame.images
    .artwork-column( class="column-#{i}" )
      for image in column
        .artwork: img( data-src= imagePath(image, 'web/columns') )
