#columns.frame--layer: .artwork-columns
  - columns = split(frame.images, 4)
  for column, i in columns
    .artwork-column( class="column-#{i}" )
      for image in column
        .artwork: img( src= imagePath(image, '350w') )
