- conclusion = locals.copy.web.sections.conclusion

#frame-conclusion.frame
  .frame--backdrop
    img( src= imagePath(conclusion.backdrop.src, 'web/backdrops') )
  .conclusion-credit.frame--backdrop-credit
    != conclusion.backdrop.credit

  .frame--body: .frame--vcenter: .frame--vcenter-wrap
    .conclusion-headline.frame--headline
      = conclusion.message

    .conclusion-links
      for link in conclusion.links
        a.conclusion-link( href= link.href, target='_blank' )
          = link.name

    .conclusion-share
      h3 Share this
      a.conclusion-share--facebook
        img( src= imagePath('facebook.svg'), alt='F' )
      a.conclusion-share--twitter
        img( src= imagePath('twitter.svg'), alt='T' )
