.frame--centering-context
  .graph
    img( src= imagePath(frame.graph.data) )
    #graph-overlay--data
    img( src= imagePath(frame.graph.grid) )
    img( src= imagePath(frame.graph.labels) )

    #graph-overlay--label_2012
    #graph-overlay--label_2013
    #graph-overlay--label_2014
    #graph-overlay--label_2015

.graph--caption
  h3= frame.caption.headline
  p= frame.caption.body
