- sections = locals.copy.web.sections

+frame('galleries-shared', 3)
  #galleries-shared--columns.frame--layer.gradient-overlay: .bisected-columns
    #galleries-shared--column-0.bisected-columns--column
      .bisected-columns--image: img( data-src= imagePath(frame.images[0], 'web/crops') )
      .bisected-columns--image: img( data-src= imagePath(frame.images[1], 'web/crops') )
    #galleries-shared--column-1.bisected-columns--column
      .bisected-columns--image: img( data-src= imagePath(frame.images[2], 'web/crops') )
      .bisected-columns--image: img( data-src= imagePath(frame.images[3], 'web/crops') )

+frame('inquiries-graph')
  include graph

+frame('museums-and-institutions', 3)

+frame('educational-database', 3)
  include columns

+frame('added-categories')
  include categories

+frame('rauschenberg-foundation', 3)
  +single-image(frame.image)

+frame('benefit-auctions-raised', 3)

+frame('powered-by-artsy', 3)
  +single-image(frame.image)

+frame('browse-and-collect-fairs', 3)
  .gradient-overlay: .frame--centering-context.span-full
    #browse-and-collect-fairs--image-wall.image-wall
      for image, i in frame.images
        .image-wall--image( id="image-wall--image-#{i}" )
          img( data-src= imagePath(frame.images[i], 'web/crops') )

+frame('mobile-app')
  .gradient-overlay: .frame--centering-context.span-full
    #mobile-app--video-wall.video-wall
      video( autoplay, loop )
        for source in frame.video.sources
          source( src= assetsPath(source.src), type= source.type )
        img( data-src= imagePath(frame.video.cover, 'web/singles') )

include map

+frame('bringing-together', 4)
