@import 'nib'

// Units
base-unit = 20px
unit = base-unit
grid-cols = 5
grid-offset = (unit * 4)
grid-span(n)
  ((100% / grid-cols) * n)

// Sizes
caption-size = 40px
headline-size = 40px
description-size = 20px
subheadline-size = 16px
credit-size = 16px

// Colors
gray-color = #666
purple-color = #6a0bc1

// Z-map
z-header = 100
z-preloader = 200
z-max = 9999

// Mixins
antialiased()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

avant-garde()
  font-family 'ITC Avant Garde Gothic W04', 'Avant Garde', sans-serif
  text-transform uppercase
  letter-spacing 2px
  antialiased()

garamond()
  font-family 'Adobe Garamond W08', 'Garamond', serif
  line-height 1.2
  antialiased()

block-margins(margin-size = 20px)
  margin margin-size 0
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0

occupy()
  position absolute
  top 0
  right 0
  bottom 0
  left 0

gradient-overlay()
  &:after
    display block
    content ''
    background linear-gradient(transparent, rgba(black, 0.5))
    occupy()
