@import 'nib'

// Colors
grey-color = #666

// Mixins
antialiased()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

avant-garde()
  font-family 'ITC Avant Garde Gothic W04', 'Avant Garde', sans-serif
  text-transform uppercase
  letter-spacing 1px
  antialiased()

garamond()
  font-family 'Adobe Garamond W08', 'Garamond', serif
  antialiased()
