@import 'common'

#caption-2
#caption-3
#caption-4
  opacity 0
#caption-1
  opacity 1

.intro-chevron
  position absolute
  width (unit * 2)
  bottom @width
  left 50%
  height @width
  margin-left -(@width / 2)
  z-index 1
  border 2px solid white
  border-width 0 2px 2px 0
  transform rotate(45deg)

.frame--backdrop
  occupy()
  gradient-overlay()
  > img
    display block
    width 100%
    margin-top 25%
    margin-left 50%
    transform translate(-50%, -50%) scale(1)
