@import 'common'

.marketplace-frame
  padding (unit * 4)

#columns
  occupy()

.artwork-columns
  position absolute
  width 100%
  top 50%
  left 0
  padding (unit / 2) (unit / 4)
  transform translateY(-50%)
  z-index 0

.artwork-column
  float left
  width 25%
  &:last-child
    margin-right 0

.artwork
  display block
  margin unit (unit / 2)
  background-color gray-color
  // Placeholder
  height 350px
