@import 'common'

.frame
  position fixed
  width 100%
  height 100%
  background-color black

.frame--body
  position absolute
  top (grid-offset / 2)
  right grid-offset
  bottom (grid-offset / 2)
  left grid-offset

.frame--subheadline
  avant-garde()
  font-size 16px
  position absolute
  top 0
  right 0

.frame--caption
  position absolute
  top 20%
  bottom 20%
  left 0
  width grid-span(3)
  font-size 40px

.frame--credit
  position absolute
  bottom (unit * 2)
  left 0
  width grid-span(2)
  opacity 0

.frame--vcenter
  position absolute
  top 50%
.frame--vcenter-wrap
  transform translateY(-50%)

.frame--headline
  margin-bottom (unit * 2)
  font-size 40px
  line-height 1.2

.frame--description
  font-size 24px
